<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="steedserv.com.eco_agri">

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">


        <activity
            android:name="steedserv.com.eco_agri.Login"
            android:label="MyBusiness"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".animalDetails"
            android:label="test2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".add_animals_details"
            android:label="test3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view_animals_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".add_members_details"
            android:label="testtt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".members_details"
            android:label="testting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view_memebers_details"
            android:label="test33"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Shares_details"
            android:label="test34"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleUserInvestDetails"
            android:label="test36"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MilkDetails"
            android:label="test39"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".edit_Milk_details"
            android:label="test42"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>